*{
    padding: 0;
    margin: 0;
}

body{   
  font-family: "Lato", sans-serif;
}

body{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.tripadvisor__logo{
    width: 6dvh;
}

.tripadvisor__title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.tripadvisor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 3;
}

.tripadvisor__menu{
    display: flex;
    gap: 20px;
    margin-right: 8%;
    font-size: 20px;
}

.tripadvisor__menu h4{
    padding: 10px;
}

.tripadvisor__menu h4:hover, .mustdos p:hover{
    background-color: rgba(211,211,211,1);
    border-radius: 50px;
    
}

.tripadvisor__minsearch{
    
    background-color:  #dfe1df;
    align-items: center;
    padding: 10px;
    gap:5px;
    border-radius: 50px;
    display: none;
}
.tripadvisor__minsearch input{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}


.tripadvisor__signin{
    background-color: #002b11;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
}

.whereto{
    text-align: center;
    margin-top: 5%;
    font-size: 32px;
    margin-bottom: 5%;
}

.tripadvisor-options__list{
    list-style-type: none;
    display: flex; 
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    flex-wrap: wrap;
}

.tripadvisor-options__list li{
    display: flex;
    gap: 4px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.tripadvisor-options__list li:hover{
    border-bottom: 2px solid black;
}

.tripadvisor-search{
    width: 60%;
    /* border: 1px solid; */
    background-color: #dfe1df;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
    align-items: center;
    margin-top: 2%;
}

.tripadvisor-search__sec1{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.tripadvisor-search__sec1 input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
}

.tripadvisor-search__sec2{
      background-color:#00eb5b;
      padding: 15px;
      border: none;
      border-radius: 50px;
      font-size: 18px;
}

.tripadvisor-book{

    display: flex;
    background-color: #00eb5b;
    border-radius: 10px;
    margin-top: 5%;
}

.tripadvisor-book__sec1{
    width: 50%;
   padding-left: 10px;
   padding-right: 20px;
    margin: 20px;
    border-right: 1px solid;
   
}

.tripadvisor-book__sec1__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.tripadvisor-book__sec2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
      
}

.tripadvisor-book__sec2 button,.donate__sec2 button{
    background-color: #002b11;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px
}

.tripadvisor-book__sec2 p{
    margin-top: 20px;
    font-size: 25px;
}

.tripadvisor-book__sec2 h1{
    font-weight: 80px;
    font-size: 50px; 
}


.tripadvisor-interest{
     margin-top: 50px;
}

.tripadvisor-interest__sec1 p{
     font-size: 18px;
     margin-top: 10px;
     font-weight: 370;
}

.tripadvisor-interest__sec2{
     display: flex;
     margin-top: 20px;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 10px;
}

.sec2__card{
    position: relative;
     flex-basis: 24%;
}

.sec2__card h1{
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 2;
}

.rating, .sec2__card p{
    display: inline;
}


.sec2__card img{
    width: 100%;
    /* height: 280px; */
    border-radius: 10px;
}
.cheer .sec2__card img {
    width:100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;

}
.cheer__sec2.sec2__card{
    flex:0 0 calc(25%-10px);
    max-width: calc(25%-10px);
    box-sizing: border-box;
}
.cheer__sec2{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.sec2__card img:hover, .mustdos__card__sec1 img:hover, .themedcollection img:hover, .nt__card img:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}

.mightlike,.explore,.cheer{
     margin-top: 60px;
}

.mightlike__sec1 p,.explore__sec1 p,.cheer__sec1 p{
     font-size: 18px;
     margin-top: 10px;
     font-weight: 370;
}

.mightlike__sec2,.explore__sec2,.cheer__sec2{
     display: flex;
     margin-top: 20px;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 10px;
     
}

.sec2__card{
    position:relative;
    flex-basis:24%;
}


.rating{
    font-size: 14px;
    vertical-align: top;
}

.heart{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    width: fit-content;
    font-size: 20px;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 2;
}
.nt{
     margin-top: 50px;
}

.nt__s1 p{
    gap:3px;
     font-size: 18px;
     margin-top: 10px;
     font-weight: 370;
}

.nt__s2{
     display: flex;
     margin-top: 20px;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 10px;
}

.nt__card{
    position: relative;
    flex-basis: 24%;
}

.nt__card h4{
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 2;
}

.rating, .nt__card p{
    display: inline;
}

.nt__card img{
    height: 260px;
    width: 100%;
    border-radius: 10px;
}
.donate{
    margin-top: 50px;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 5%;
    display: flex;
    
}

.donate__sec1 {
    width: 39%;
}

.donate__sec1 img{
    width: 100%;
}

.donate__sec2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.donate__sec2__title{
    display: flex;
     gap: 5px;
}

.donate__sec2__title img{

    margin-top: 2px;

}

.donate__sec2 h1{
    margin-top: 10px;
    font-weight: 600;
}

.donate__sec2 p {
    margin-right:20px;;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}


.mustdos{
    margin-top: 30px;
}


.mustdos__sec2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mustdos__card{
    margin-top: 20px;
    width:45%;
    border:1px solid #dcdcdc;
    
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.mustdos__card__sec1{
    position: relative;
    width: 38%;
}

.mustdos__card__sec1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mustdos__card__sec2 p{

    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
}

.mustdos__card__sec2 div{
    margin-top: 20px;
}

    .tripadvisor-interest__sec2 .sec2__card img {
        width:100;
        height: 250px;
        object-fit: cover;
        border-radius: 12px;
    }



.awards{
    margin-top: 40px;
    padding: 10px;
}

.awards__card{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.awards__card__sec1{
    width: 45%;
    position: relative;
}

.awards__card__sec1 h1{
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: white;
    font-weight: 800;
}

.awards__card__sec2{
    width: 45%;
}

.badge{
   position: absolute;
   top: 2%;
   left: 15px;
   z-index: 5;

   
}

.winimg{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.awards-sec2__card{
    position: relative;
    width:600px;
    width:47%;
}

.awards-sec2__card img{
    width: 100%;
    border-radius: 10px;
}

.awards-sec2__cardsec{
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.location{
    width: fit-content;
    background-color: #f7f7f7;
    padding: 5px;
    border-radius: 5px;
}

.awards__card__sec2 img:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}


.themedcollection{
    margin-top: 40px;
}
.themedcollection__sec2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.themedcollection__sec2__card{
    flex-basis: 23%;
    position: relative;
}
.themedcollection__sec2__card h3{
    position: absolute;
    color: white;
    left: 5%;
    bottom: 15%;
    font-weight: 1000;
   
}

.themedcollection__sec2__card p{
    font-weight: 400;
    margin-top: 7px;
     opacity: 0.8;
    
}

.themedcollection__sec2__card img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}


.foot{
   background-color: #f7f7f7;
   margin-top: 60px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 50px;
   padding-right: 50px;
}

.foot h5{
    display: flex;
    gap: 10px;
}

.foot-title{
    display: flex;
    gap: 20px;
}
.foot-title p{
    margin: 20px;
    border: 1px solid transparent;
    width: fit-content;
}

.foot-title__sec3{
    margin-left: 10%;
}

.foot-title p:hover{
    border-bottom: 1px solid;
}

.foot-bottom{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.foot-bottom__sec2 h4{
    margin-top: 10px;
}










@media screen and (max-width:900px){
    body{
        font-size: 10px;
    }

    .rating{
        font-size: 8px;
    }

    .tripadvisor-book{
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .tripadvisor-book__sec1{
        width: 100%;
        border-right: none;
        margin-right: 1%;
       
    }

    .tripadvisor-book__sec2{
        width: 85%;
        border-top: 1px solid;
       
    }
    .tripadvisor__menu{
        display: none;
    }

    .tripadvisor-search{
        display: none;
    }

    .tripadvisor__minsearch{
        display: block;
        font-size: 13px;
        width: 25%;
        display: flex;
    }

    .tripadvisor-interest__sec1 h2{
        font-size: 25px;
    }

    .sec2__card{
        flex-basis: 47%;
        height: 100%;
    }

    .sec2__card img{
        width:100%;
        height: 180px;
    }

    .donate{
        flex-direction: column;
    }

    .donate__sec1,.donate__sec2{
        width: 100%;
    }

    .mustdos__sec2{
        flex-direction: column;
    }

    .mustdos__card{
        flex-direction: column;
        width: 95%;
        align-items: center;
    }

    .mustdos__card__sec1{
        
        width: 85%;
        
    }

    .mustdos__card__sec1 img{
    height: 20%;
    }

    .mustdos p{
        font-size: 15px;
    }

    .mustdos h2,.explore h2,.mightlike h2,.themedcollection h2,.cheer h2{
        font-size: 20px;
    }

    .rating{
        vertical-align: top;
    }

    .awards{
        display: none;
    }

   .themedcollection__sec2__card{
     flex-basis: 47%;
   }

   .themedcollection__sec2__card img{
    height: 180px;
   }

   .foot-title{
     justify-content: center;
   }
   
   .foot-bottom__sec2{
    margin-right: 20px;
   }
   .themedcollection__sec2__card h3{
    bottom: 18%;
    z-index: 2;
   }

}
